  <%= fields_for @book do |f| %>
    <%= f.fields_for :publications do |pub| %>
        <label class='control-label col-sm-3'>Author</label>
        <div class='col-sm-9'>
          <label class="sr-only control-label" for="book_publications_attributes_0_author_id">Author</label>
          <%= pub.select :author_id, options_for_select(Author.all.collect { |a| [a.full_name, a.id] }), prompt: 'Select an author', class: 'form-control' %>
        </div>
    <% end %>
  <% end %>
