<%= fields_for @book do |f| %>
  <%= f.fields_for :publications do |pub| %>
    <div class="container">
      <div class='row'>
        <div class='form-group'>
          <label class='control-label col-sm-3'>Author</label>
          <div class='col-sm-9'>
            <%= pub.select :author_id, options_for_select(Author.all.collect { |a| [a.full_name, a.id] }),
              prompt: 'Select an author', class: 'form-control', hide_label: true  %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
