// Place all the styles related to the authors controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.book-title {
  width: 18em;
  float: left;
  margin-bottom: 10px;
}

.book-image {
  width: 75px;
  margin-bottom: 0px;
  display: inline-block;
  clear: left;
}

#book-hr {
  margin-bottom: 0;
  margin-top: 10px;
  padding:0;
}
